<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>koa.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>4532892420A7B88300C8CCD6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4532893820A7B88500C8CCD6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4532894320A7B88500C8CCD6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
